{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {% if error %}
        <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post" action="{{ path('app_login') }}">
        <label for="username">Email :</label>
        <input type="text" id="username" name="email" value="{{ last_username }}" required autofocus>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Se connecter</button>
    </form>

    <br>

    <a href="{{ path('app_register') }}">
        <button>S'inscrire</button>
    </a>
{% endblock %}
